<h1>YOUR EMAIL WAS SENT! NOW SHUT UP.</h1>

<img src="http://rack.2.mshcdn.com/media/ZgkyMDEzLzA2LzEyL2Q1L1R5cGV3cml0ZXJ0LjZlODc5LmdpZgpwCXRodW1iCTEyMDB4OTYwMD4/6bb23ebd/fa1/Typewriter-throwing.gif"/>